.animal-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 400px;
    margin: 0 10px;
}

.image-container {
    color: #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 32px);
    height: 200px;
    background: #fafafa 50% 0 no-repeat;
    background-size: cover;
    margin: 0 -16px 20px;
}

.mat-card-content {
    flex-grow: 1;
}

.mat-card-title {
    display: block;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.mat-card-actions {
    flex-grow: 0;
    flex-shrink: 0;
}
