<div class="animals-list-container">
    <button *ngIf="list$ | async as list; else loader"
             mat-raised-button
            color="accent"
            (click)="generateRandomThree()">
        Сгенерировать набор
    </button>

    <div class="animals-list" *ngIf="randomThreeAnimals$ | async as randomThreeAnimals; else loader">
        <animal *ngFor="let item of randomThreeAnimals" [animal]="item"></animal>
    </div>

    <ng-template #loader>
        <div class="loader">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </ng-template>
</div>

